<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 에는 매핑해줄 인터페이스의 경로를 작성한다. -->
<mapper namespace="com.example.c_mybatis.mapper.TimeMapper">

    <!-- select문  -->
    <!-- id 속성에는 메소드 이름과 동일하게 작성. -->
    <!-- resultType 리턴이 있다면 해당 타입을 작성한다. -->
    <select id="getTime" resultType="string">
        SELECT SYSDATE FROM DUAL
    </select>

</mapper>