<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.board.mapper.FileMapper">

<!--첨부파일 추가-->
    <insert id="insertFile">
        INSERT INTO TBL_FILE (file_id, board_id, original_file_name, stored_file_name, file_size, upload_time)
        VALUES (seq_file.nextval, #{boardId}, #{originalFileName}, #{storedFileName}, #{fileSize}, SYSDATE)
    </insert>

    <!--  게시글 번호로 첨부파일들 가져오기  -->
    <select id="selectFileList" resultType="FileDTO">
        select
            FILE_ID,
            ORIGINAL_FILE_NAME,
            STORED_FILE_NAME,
            FILE_SIZE,
            UPLOAD_TIME,
            BOARD_ID
        from
            tbl_file
        where board_id = #{boardId}
    </select>

<!--    게시글 번호로 첨부파일 삭제-->
    <delete id="deleteFile">
        delete from tbl_file
        where board_id = #{boardId}
    </delete>

</mapper>
