<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.board.mapper.UsersMapper">

    <!--사용자 정보 조회-->
    <select id="findByProviderId">
        select * from tbl_users
        where provider_id = #{providerId}
    </select>

    <!--사용자 정보 저장-->
    <insert id="saveUser">
        insert into tbl_users
        values (#{name}, #{profilePic}, #{provider}, #{providerId}, sysdate, sysdate)
    </insert>

    <!--사용자 정보 업데이트-->
    <update id="updateUser">
        update tbl_users
        set name = #{name}, profile_pic = #{profilePic}, update_at = sysdate
        where provider_id = #{providerId}
    </update>

</mapper>